.weightHeader {
    width: 100%;
    height: 200px;
    background: url(../../../assets/gymtracker_header.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    background-position-y: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weightHeader h1 {
    color: white;
    font-weight: 300;
    font-size: 3rem;
}

@media (max-width: 768px) {
    .weightHeader {
        height: 70px;
        justify-content: center;
        align-items: center;
    }

    .weightHeader h1 {
        font-size: 1rem;
    }
}


