.loginform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    width: 400px;
    background-color: white;
}

.loginform__applogo {
    color: #57d6ff;
    font-size: 5.5rem;
}

.loginform__name,
.loginform__password {
    width: 70%;
    font-size: 1.4rem;
    font-family: inherit;
    margin: 1.5rem 0;
    text-align: center;
    border: none;
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
    padding: 0.5rem 0.9rem;
    border: 1px solid white;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}


.loginforom__name:focus,
.loginform__password:focus {
    outline: none;
    border: 1px solid #57d6ff;
}

.loginform__submit {
    font-size: 1.6rem;
    font-family: inherit;
    color: white;

    margin-top: 0.8rem;
    margin-bottom: 0.7rem;
    padding: 0.5rem 0.9rem;

    cursor: pointer;

    background-color: #57d6ff;
    border: none;
    border-radius: 9px;
}

.loginform__disclaimer {
    text-align: center;
    font-size: 0.75rem;
}

.loginform__anchor {
    margin-top: 0.25rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: #57d6ff;
}

.loginform__demobutton {
    font-size: 1.6rem !important;
    font-family: inherit;
    color: white !important;
    margin: 0.5rem 0;
    padding: 0.5rem 0.9rem;
    background-color: #bc57ff;
    border-radius: 9px;
    text-decoration: none;
}


@media (max-width: 576px) {
    .loginform {
        width: 240px;
    }

    .loginform__applogo {
        font-size: 4rem;
    }

    .loginform__name,
    .loginform__password {
    width: 60%;
    font-size: 1rem;
    margin: 1.5rem 0;
    }

    .loginform__submit {
        font-size: 1.2rem;
        margin-top: 0.7rem;
        margin-bottom: 0.6rem;
        padding: 0.4rem 0.8rem;
    }

    .loginform__disclaimer {
        text-align: center;
        font-size: 0.6rem;
    }
    
    .loginform__anchor {
        margin-top: 0.2rem;
        font-size: 0.55rem;

    }
    
    .loginform__demobutton {
        font-size: 1.2rem !important;
        color: white !important;
    }

}