.Card {
    width:300px;
    height: 300px;

    -webkit-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.125);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.125);
    box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.125);
    
    background-color: rgb(252, 252, 252);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.CardTitle {
    font-weight: bold;
    color: #757575;
    margin-left: 2rem;
    margin-right: 2rem;
}

.CardNumber {
    margin: 0 0;
    color: #57d6ff;
    font-size: 6rem;
    font-weight: 300;
}

.Card a {
    text-decoration: none;
    color: #57d6ff;
    font-weight: bold;
    margin-top: 0.6rem;
    font-size: 0.7rem;
    transition: transform 0.15s;
}

.Card a:hover {
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .Card {
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 992px) {
    .Card {
        height: 210px;
        width: 210px;
    }

    .CardTitle {
        font-size: 0.8rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    .CardNumber {
        font-size: 5.5rem;
    }

    .Card a {
        font-size: 0.6rem;
    }
}

@media (max-width: 768px) {
    .Card {
        height: 150px;
        width: 150px;
    }

    .CardTitle {
        font-size: 0.6rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .CardNumber {
        font-size: 4rem;
    }

    .Card a {
        font-size: 0.6rem;
    }
}

@media (max-width: 576px) {
    .Card {
        width: 19vh;
        height: 19vh;
        margin: 3vh;
    }

    .CardTitle {
        font-size: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .CardNumber {
        font-size: 3rem;
    }

    .Card a {
        margin: 0;
        font-size: 0.3rem;
    }
}

@media (max-width: 420px) {
    .CardNumber {
        font-size: 2.5rem;
    }

    .CardTitle {
        font-size: 0.4rem;
        margin-bottom: 0.25vh;
        margin-left: 0.7vh;
        margin-right: 0.7vh;
    }

    .Card a {
        margin: 0;
        font-size: 0.3rem;
    }
}
