

.modal {
    width: 400px;
    height: 470px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -200px;
    border-radius: 20px;
}

.modal__header {
    width: 100%;
    height: 17.5%;
    background-color: #57d6ff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal__headline {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5rem;
}

.modal__body {
    height: 87.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.exerciseform {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    font-weight: 400;
}



.exerciseform__name,
.exerciseform__date,
.exerciseform__weight {
    width: 80%;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 400;
    margin: 0.75rem 0;
    text-align: center;
    border: none;
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
    padding: 0.5rem 0.9rem;
    border: 1px solid white;
    transition: border 0.2s;
}

.exerciseform__submit {
    font-size: 1.6rem;
    font-family: inherit;
    color: white;
    margin: 1.5rem;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
    background-color: #57d6ff;
    border: none;
    border-radius: 9px;
}
