.searchbar {
    height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.searchbar__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 34px;
    margin-bottom: 15px;
}

.searchbar__title {
    font-size: 1.25rem;
    color: #757575;
    text-align: center;
}

.searchbar__input {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
    padding: 0.3rem 0.25rem;
    border: none;
    background-color: rgb(249, 249, 249);
    border: 1px solid #57d6ff;
    border-radius: 25px;
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
    -webkit-box-shadow: 8px 11px 11px -6px rgba(0,0,0,0.125);
            box-shadow: 8px 11px 11px -6px rgba(0,0,0,0.125);
}

.searchbar__input:focus {
    outline: none;
    background-color: rgb(246, 246, 246);
}

.searchbar__addbutton {
    font-size: 1.1rem;
    border: none;
    background-color: #57d6ff;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    -webkit-box-shadow: 4px 6px 6px -4px rgba(0,0,0,0.125);
            box-shadow: 4px 6px 6px -4px rgba(0,0,0,0.125);
}

.searchbar__resultbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 100%;
    height: 350px;
}

.searchbar__resultbox p {
    margin: 11px 0;
    font-size: 0.9rem;
    color: #505050;
    -webkit-transition: color 0.1s, -webkit-transform 0.1s;
    transition: color 0.1s, -webkit-transform 0.1s;
    transition: transform 0.1s, color 0.1s;
    transition: transform 0.1s, color 0.1s, -webkit-transform 0.1s;
}

.searchbar__resultbox p:hover {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
    color: #26c9ff;
}

.searchbar__buttonbox {
    width: 70%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.searchbar__pagebutton {
    color: white;
    background-color: #57d6ff;
    border: none;
    border-radius: 5px;
    height: 55%;
    width: 25%;
    padding: auto 10px;
    font-family: inherit;
    z-index: 0;
}

.searchbar__pagebutton--disabled {
    opacity: 0.4;
}

@media (max-width: 1420px) {
    .searchbar__title {
        font-size: 1.1rem;
        color: #757575;
    }
    
    .searchbar__input {
        font-size: 1.1rem;
        padding: 0.2rem 0.15rem;
    }

    .searchbar__resultbox p {
        margin: 8px 0;
        font-size: 0.75rem;
    }
}

@media (max-width: 1200px) {
    .searchbar__title {
        font-size: 0.7rem;
        color: #757575;
        margin-bottom: 0rem;
    }
    
    .searchbar__input {
        font-size: 0.7rem;
        padding: 0.1rem 0.1rem;
    }

    .searchbar__addbutton {
        font-size: 0.7rem;
        margin-left: 5px;
    }

    .searchbar__resultbox {
        width: 80%;
        height: 125px;
    }

    .searchbar__resultbox p {
        margin: 8px 0;
        font-size: 0.6rem;
    }

    .searchbar__pagebutton {
        height: 35%;
        width: 29%;
        font-size: 0.5rem;
    }
}

@media (max-width: 768px) {
    .searchbar__title {
        font-size: 1.25rem;
        margin-bottom: 0.6rem;
    }
    
    .searchbar__input {
        font-size: 1.25rem;
        padding: 0.3rem 0.25rem;
    }
    
    .searchbar__addbutton {
        font-size: 1.1rem;
    }
    
    .searchbar__resultbox {
        width: 100%;
        height: 350px;
    }
    
    .searchbar__resultbox p {
        margin: 11px 0;
        font-size: 0.9rem;
    }
    
    .searchbar__buttonbox {
        width: 70%;
        height: 80px;
    }
    
    .searchbar__pagebutton {
        height: 55%;
        width: 25%;
        padding: auto 10px;
        font-size: 0.9rem;
    }
}

@media (max-width: 420px) {
    .searchbar__input {
        font-size: 1.05rem;
        padding: 0.23rem 0.2rem;
    }

    .searchbar__addbutton {
        font-size: 0.9rem;
    }

    .searchbar__resultbox p {
        margin: 10px 0;
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {

    .searchbar__title {
        font-size: 1.1rem;
    }

    .searchbar__input {
        font-size: 0.9rem;
        padding: 0.2rem 0.2rem;
    }

    .searchbar__addbutton {
        font-size: 0.75rem;
    }
}
