.searchBarWindow {
    height: 250px;
    margin-top: -80px;
    
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.searchBarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBarBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    margin-bottom: 15px;
}

.searchBarTitle {
    font-size: 1.1rem;
    color: #757575;
    text-align: center;
}

.searchBarWindow input {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
    padding: 0.25rem 0.2rem;
    border: none;
    background-color: rgb(245, 245, 245);
    border: 1px solid #57d6ff;
    border-radius: 5px;
    transition: background-color 0.15s;
}

.searchBarWindow input:focus {
    outline: none;
    background-color: rgb(240, 240, 240);
}

.addExerciseButton {
    font-size: 1.1rem;
    border: none;
    background-color: #57d6ff;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.searchResultBox {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;

    width: 100%;
    height: 200px;
}

.searchResultBox p {
    margin: 11px 0;
    font-size: 0.9rem;
    color: #505050;
    transition: transform 0.1s, color 0.1s;
}

.searchResultBox p:hover {
    transform: scale(1.015);
    color: #26c9ff;
}

.buttonBox {
    width: 70%;
    height: 80px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pageButton {
    color: white;
    background-color: #57d6ff;
    border: none;
    border-radius: 5px;
    height: 40%;
    padding: auto 9px;
    font-family: inherit;
    z-index: 0;
}

.disabled {
    opacity: 0.4;
}



@media (max-width: 1420px) {
    .searchBarTitle {
        font-size: 0.8rem;
    }
    
    .searchBarWindow input {
        font-size: 0.8rem;
        font-weight: 300;
        font-family: inherit;
        text-align: center;
        padding: 0.25rem 0.2rem;
        border: none;
        background-color: rgb(245, 245, 245);
        border: 1px solid #57d6ff;
        border-radius: 5px;
        transition: background-color 0.15s;
    }

    .searchBarWindow {
        height: 250px;
        
    }
    .searchResultBox {
        height: 125px;
    }

    .searchResultBox p {
        margin: 5px 0;
        font-size: 0.6rem;
    }

    .addExerciseButton {
        font-size: 0.8rem;
        margin-left: 5px;
    }


}

@media (max-width: 900px) {
    .searchBarWindow input {
        font-size: 0.65rem;
    }
}

@media (max-width: 768px) {
    .searchBarWindow {
        height: 250px;
        margin-top: 30px;
        margin-left: 15px;

    }

    .searchBarTitle {
        margin-bottom: 25px;
        font-size: 0.7rem;
    }

    .searchBarWrapper {
        flex-direction: row;
        width: 70%;
    }

    .searchResultBox {
        width: 200px;
        margin-left: 30px;
    }

    .buttonBox {
        width: 50%;
    }

    .searchBarWindow input {
        width: 80%;
    }

    .pageButton {
        font-size: 0.55rem;
        font-weight: bold;
        padding: 0 6px;
        height: 30%;
    
    }

}

@media (max-width: 420px) {

    .searchBarWindow {
        width: 90%;
    }

    .searchBarWrapper {
        width: 100%;
    }

    .searchResultBox {
        width: 50%;
        margin: 0 0;
    }

    .searchBarBox {
        width: 30%;
    }

    .buttonBox {
        width: 20%;
        flex-direction: column;
    }
    
    .searchResultBox p {
        font-size: 0.45rem;
    }
}