.weightplot {
    border: 1px solid #57d6ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    z-index: -1;
    height: 80%;
    width: 70%;
}

@media (max-width: 1200px) {
    .weightplot {
        height: 70%;
        width: 40%;
    }
}

@media (max-width: 768px) {
    .weightplot {
        height: 80%;
        width: 70%;
    }
}

@media (max-width: 420px) {
    .weightplot {
        width: 95%;
    }
}