.exercisedata {
    width: 250px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 3rem;
    margin-left: 3rem;

}

.exercisedata__title {
    color: #757575;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 0;
}

.exercisedata__table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.exercisedata__table thead tr {
    background-color: #57d6ff;
    color: #ffffff;
    text-align: center;
}
  
.exercisedata__table th,
.exercisedata__table td {
    padding: 12px 15px;
}
  
.exercisedata__table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: #757575;
}
  
.exercisedata__table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.exercisedata__table tbody tr:last-of-type {
    border-bottom: 2px solid #57d6ff;
}
  
.exercisedata__table tbody tr.active-row {
    color: #57d6ff;
}
  

.exercisedata__buttonbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
}

.exercisedata__buttonbox a {
    z-index: 0;
    margin-top: 1rem;
    font-size: 0.8rem;
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    background-color: #57d6ff;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    -webkit-transition: margin-left 0.15s, margin-right 0.15s, -webkit-transform 0.15s;
    transition: margin-left 0.15s, margin-right 0.15s, -webkit-transform 0.15s;
    transition: transform 0.15s, margin-left 0.15s, margin-right 0.15s;
    transition: transform 0.15s, margin-left 0.15s, margin-right 0.15s, -webkit-transform 0.15s;
}

.exercisedata__buttonbox p {
    background-color: #57d6ff;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    margin: auto 0.6rem;
    font-size: 0.7rem;
    -webkit-transition: -webkit-transform 0.15s;
    transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
    transition: transform 0.15s, -webkit-transform 0.15s;
    cursor: pointer;
}

.exercisedata__buttonbox p:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.exercisedata__buttonbox a:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.exercisedata__removebutton {
    color: white;
    background-color: #57d6ff;
    border: none;
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: inherit;
    -webkit-transition: -webkit-transform 0.15s;
    transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
    transition: transform 0.15s, -webkit-transform 0.15s;
}

.exercisedata__removebutton:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.exercisedata__removebutton:focus {
    outline: none;
    background-color: #2ac8fd;
}

.exercisedata__pagebutton {
    color: white;
    background-color: #57d6ff;
    border: none;
    border-radius: 5px;
    padding: 8px 9px;
    margin: 5px 9px;
    font-family: inherit;
    z-index: 0;
}

.exercisedata__pagebutton--disabled,
.exercisedata__databutton--disabled {
    opacity: 0.4;
}

@media (max-width: 1420px) {

    .exercisedata {
        width: 225px;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    
    .exercisedata__title {
        font-size: 1.1rem;
    }
    
    .exercisedata__table {
        font-size: 0.75em;
    }
      
    .exercisedata__table th,
    .exercisedata__table td {
        padding: 8px 10px;
    }

    .exercisedata__buttonbox a {
        margin-top: 0.6rem;
        font-size: 0.65rem;
        padding: 0.35rem 0.35rem;
    }

}

@media (max-width: 1200px) {

    .exercisedata {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    .exercisedata__title {
        font-size: 0.9rem;
    }
    
    .exercisedata__table {
        font-size: 0.7em;
    }
      
    .exercisedata__table th,
    .exercisedata__table td {
        padding: 8px 10px;
    }

    .exercisedata__removebutton {
        font-size: 0.65rem;
        padding: 0.15rem 0.3rem;

    }

    .exercisedata__pagebutton {
        font-size: 0.55rem;
    }

}

@media (max-width: 1080px) {

    .exercisedata {
        margin-right: 0.6rem;
        margin-left: 0.6rem;
    }
    
    .exercisedata__title {
        font-size: 0.8rem;
    }
    
    .exercisedata__table {
        font-size: 0.7em;
    }
      
    .exercisedata__table th,
    .exercisedata__table td {
        padding: 3px 3px;
    }
}

@media (max-width: 768px) {
    .exercisedata {
        -ms-flex-item-align: auto;
            align-self: auto;
    }

    .exercisedata__title {
        font-size: 1.5rem;
    }

    .exercisedata__table {
        font-size: 0.9em;
    }
          
    .exercisedata__table th,
    .exercisedata__table td {
        padding: 12px 15px;
    }

    .exercisedata__removebutton {
        font-size: 1rem;
        padding: 0.2rem 0.4rem;
    }

}

@media (max-width: 420px) {
    .exercisedata__title {
        font-size: 1.25rem;
    }

    .exercisedata__table {
        font-size: 0.75rem;
    }

    .exercisedata__table th,
    .exercisedata__table td {
        padding: 8px 6px;
    }
}

