.exercisedata {
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-self: flex-start;

    margin-right: 3rem;
    margin-left: 3rem;

}

.exercisedata__title {
    color: #757575;
    text-align: center;
    font-size: 0.9rem;
}

.exercisedata__table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.exercisedata__table thead tr {
    background-color: #57d6ff;
    color: #ffffff;
    text-align: center;
}
  
.exercisedata__table th,
.exercisedata__table td {
    padding: 12px 15px;
}
  
.exercisedata__table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: #757575;
}
  
.exercisedata__table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.exercisedata__table tbody tr:last-of-type {
    border-bottom: 2px solid #57d6ff;
}
  
.exercisedata__table tbody tr.active-row {
    color: #57d6ff;
}
  

.exercisedata__buttonbox {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.exercisedata__buttonbox a {
    z-index: 0;
    margin-top: 1rem;
    font-size: 0.8rem;
    justify-self: end;
    align-self: center;
    text-align: center;
    background-color: #57d6ff;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    transition: transform 0.15s, margin-left 0.15s, margin-right 0.15s;
    
}

.exercisedata__buttonbox p {
    background-color: #57d6ff;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    margin: auto 0.6rem;
    font-size: 0.7rem;
    transition: transform 0.15s;
    cursor: pointer;
}

.exercisedata__buttonbox p:hover {
    transform: scale(1.05);
}

.exercisedata__buttonbox a:hover {
    transform: scale(1.05);
    margin-left: 5px;
    margin-right: 5px;
}

.exercisedata__removebutton {
    color: white;
    background-color: #57d6ff;
    border: none;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    font-family: inherit;
    transition: transform 0.15s;
}

.exercisedata__removebutton:hover {
    transform: scale(1.05);
}

.exercisedata__removebutton:focus {
    outline: none;
    background-color: #2ac8fd;
}

.exercisedata__pagebutton {
    color: white;
    background-color: #57d6ff;
    border: none;
    border-radius: 5px;
    padding: 8px 9px;
    margin: 5px 9px;
    font-family: inherit;
    z-index: 0;
}

.exercisedata__pagebutton--disabled,
.exercisedata__databutton--disabled {
    opacity: 0.4;
}

@media (max-width: 1420px) {

    .exerciseDataWindow {
        margin-top: 25px;
        width: 200px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .tableTitle {
        color: #757575;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .dataTable th,
    .dataTable td {
    padding: 6px 9px;
    font-size: 0.7rem;
    }

    .pageButton {
        border-radius: 5px;
        padding: 6px 7px;
        margin: 4px 7px;
        font-size: 0.8rem;
    }

    .removeButton {
        padding: 1px 4px;
    }

    .underTableBox a {
        font-size: 0.8rem;   
    }

    .dataWrapper {
        height: 100%;
    }

}
